<body class="public-scene">
  <%= render partial: '/template/header' %>
  <%= render partial: '/template/nav' %>
  <main class="post">
    <div class="learn-rec">
      <% @portfolios.each do |p| %>
        <ul>
          <li>
            <%= link_to user_portfolio_path(p) do %>
              <%= attachment_image_tag current_applicant, :image, format: "jpeg", fallback: "no_image.jpeg", class: "item_image"  %>
              <div class="creat-ttl">
                <p><%= p.title %></p>
                <p><span><%= l p.created_at, format: :long %></span></p>
              </div>
            <% end %>
            <%= link_to "削除", user_portfolio_path(p), method: :delete %>
          </li>
        </ul>
      <% end %>
    </div>
  </main>
</body>