<body class="public-scene">
  <%= render partial: '/template/header' %>
  <%= render partial: '/template/nav' %>
  <main class="post">
    <%= form_with model: @portfolio, url: user_portfolios_path, local: true do |f| %>
      <div class="learn-rec">
        <div class="widget-header">
          <h4>ポートフォリオ投稿</h4>
        </div>
        <div class="title" style="border: none;">
          <%= f.label :title, 'タイトル', style: 'font-size: 22px;' %>
          <h6><%= f.text_field :title, style: 'width: 99%; height: 30px;' %></h6>
        </div>
        <div class="lang" style="border: none;">
          <%= f.collection_select :pg_lang_id, PgLang.all, :id, :name %>
        </div>
        <div class="text" style="border: none;">
            <%= f.label :content, '概要' %><br>
            <%= f.text_area :content, style: 'width: 99%; height: 80px;' %>
        </div>
        <div class="title" style="border: none;">
          <%= f.label :theme, 'サイトテーマ', style: 'font-size: 22px;' %>
          <h6><%= f.text_field :theme, style: 'width: 98%; height: 30px;' %></h6>
        </div>
        <div class="title" style="border: none;">
          <%= f.label :reason, 'テーマを選んだ理由', style: 'font-size: 22px;' %>
          <h6><%= f.text_area :reason, style: 'width: 99%; height: 80px;' %></h6>
        </div>
        <div class="title" style="border: none;">
          <h6><%= f.label :target, 'ターゲットユーザ', style: 'font-size: 22px;' %> </h6>
          <%= f.text_field :target, style: 'width: 98%; height: 30px;' %>
        </div>
        <div class="title" style="border: none;">
          <h6><%= f.label :scene, '主な利用シーン', style: 'font-size: 22px;' %></h6>
          <%= f.text_field :scene, style: 'width: 98%; height: 30px;' %>
        </div>
        <div class="title" style="border: none;">
          <h6><%= f.label :link_url, 'リンクURL', style: 'font-size: 22px;' %></h6>
          <%= f.text_area :link_url, style: 'width: 98%; height: 30px;' %>
        </div>
      </div>
      <%= f.hidden_field :applicant_id, value: current_applicant.id %>
      <div style="width: 30%; margin: 0 auto;">
        <%= f.submit '投稿', class: 'submit' %>
      </div>
    <% end %>
  </main>
</body>