<nav>
  <div class="first-box" style="height: 137px;">
    <div class="widget-header">
      <h3>登録情報編集</h3>
    </div>
    <ul>
      <li>
        <%= link_to '企業情報編集', edit_public_corporations_path, style: 'color: black; text-decoration: none;' %>
      </li>
      <li>
        <%= link_to '求人情報編集', public_edit_job_sheet_path, style: 'color: black; text-decoration: none;' %>
      </li>
    </ul>
  </div>
  <div class="second-box" style="height: 180px;">
    <div class="widget-header">
      <h3>一覧</h3>
    </div>
    <ul>
      <li>
        <%= link_to 'ユーザー一覧', user_posts_path, style: 'color: black; text-decoration: none;' %>
      </li>
      <li>
        <%= link_to '学習記事一覧', new_user_portfolio_path, style: 'color: black; text-decoration: none;' %>
      </li>
      <li>
        <%= link_to 'ポートフォリオ一覧', user_portfolios_path, style: 'color: black; text-decoration: none;' %>
      </li>
    </ul>
  </div>
  <div class="third-box" style="margin-top: 50px; height: 140px;">
    <div class="widget-header">
      <h3>応募者とのコンタクト</h3>
    </div>
    <ul>
      <li>
        オファーリスト
      </li>
      <li>
        メッセージリスト
      </li>
    </ul>
  </div>
</nav>