<body class="public-scene">
  <%= render partial: '/template/public_header' %>
  <%= render partial: '/template/public_nav' %>
  <main class="post">
    <div class="learn-rec">
      <div class="prof-box">
        <%= image_tag @portfolio.applicant.image_id.url, class: "item_image" %>
        <div class="creat-ttl">
          <p><%= @portfolio.applicant.full_name %></p>
          <p><span><%= l @portfolio.created_at %></span></p>
        </div>
      </div>
      <div class="title">
        <h6><%= @portfolio.title %></h6>
      </div>
      <div class="lang">
        <% @portfolio.pg_langs.each do |pg| %>
          <%= pg.name %>
        <% end %>
      </div>
      <div class="text">
        <%= safe_join(@portfolio.content.split("\n"),tag(:br)) %>
      </div>
      <div class="title">
        <h6><%= @portfolio.theme %></h6>
      </div>
      <div class="title">
        <h6><%= safe_join(@portfolio.reason.split("\n"),tag(:br)) %></h6>
      </div>
      <div class="title">
        <h6><%= @portfolio.target %></h6>
      </div>
      <div class="title">
        <h6><%= @portfolio.scene %></h6>
      </div>
      <div class="title">
        <h6><%= @portfolio.link_url %></h6>
      </div>
    </div>
  </main>
</body>