<body class="public-scene">
  <%= render partial: '/template/public_header' %>
  <%= render partial: '/template/public_nav' %>
  <main class="post">
    <div class="learn-rec" style="padding: 50px 0;">
      <div class="prof-box">
        <%= image_tag @post.applicant.image_id.url, class: "item_image" %>
        <div class="creat-ttl">
          <p><%= @post.applicant.full_name %> </p>
          <p><span><%= l @post.created_at %></span></p>
        </div>
      </div>
      <div class="title">
        <h6><%= @post.title %></h6>
      </div>
      <div class="lang">
        <%= @post.pg_lang.name %>
      </div>
      <div class="text">
        <%= simple_format(@post.content) %>
      </div>
    </div>
  </main>
</body>