<body class="newreg">
  <%= render partial: '/template/before_header' %>
  <main>
    <h1 class="title">　新規ユーザー登録</h1>
    <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
    <div class="formrg">
      <h2>氏名<span>必須</span></h2>
      <table>
        <tr>
          <td>
            <label for="name">姓</label><br>
            <%= f.text_field :last_name, autofocus: true, :placeholder =>"難波", class: 'form' %>
          </td>
          <td>
            <label for="name">名</label>
            <%= f.text_field :first_name, :placeholder =>"太郎", class: 'form' %>
          </td>
        </tr>
        <tr>
          <td>
            <label for="name">姓（セイ）</label>
            <%= f.text_field :last_furigana, :placeholder =>"ナンバ", class: 'form' %>
          </td>
          <td>
            <label for="name">名（メイ）</label>
            <%= f.text_field :first_furigana, :placeholder =>"タロウ", class: 'form' %>
          </td>
        </tr>
      </table>
      <div class="gender">
        <p>メールアドレス<span>必須</span><br>
          <%= f.email_field :email, autofocus: true, autocomplete: "email", class: 'form' %>
        </p>
      </div>
      <div class="birthd">
        <p>パスワード<span>必須</span><br>
          <% if @minimum_password_length %>
          <em>(<%= @minimum_password_length %> 文字以上)</em>
          <% end %><br />
          <%= f.password_field :password, autocomplete: "new-password", class: 'form' %>
        </p>
      </div>
      <div class="birthd">
        <p>パスワード(確認用)<span>必須</span><br>
          <%= f.password_field :password_confirmation, autocomplete: "new-password", class: 'form' %>
        </p>
      </div>
      <%= f.hidden_field :overview_w_history, :value => "未設定" %>
      <%= f.hidden_field :pg_skill, :value => "未設定" %>
      <%= f.hidden_field :self_pr, :value => "未設定" %>
      <%= f.hidden_field :vision, :value => "未設定" %>
      <%= f.hidden_field :work_history_1, :value => "未設定" %>
      <%= f.hidden_field :work_history_2, :value => "未設定" %>
      <%= f.hidden_field :work_history_3, :value => "未設定" %>
      <%= f.hidden_field :work_history_4, :value => "未設定" %>
      <%= f.hidden_field :work_history_5, :value => "未設定" %>
      <div style="width: 280px; margin: 0 auto;">
        <%= f.submit "登録する", class: 'submit' %>
      </div>
    </div>
    <% end %>
  </main>
  <footer>
    
  </footer>
</body>


  <%= render "devise/shared/error_messages", resource: resource %>





