<body class="public-scene">
  <%= render partial: '/template/public_header' %>
  <%= render partial: '/template/public_nav' %>
  <main class="offerd">
    <div class="users">
      <% @applicants.each do |applicant| %>
        <table>
          <%= link_to public_applicant_path(applicant) do %>
           <tr>
              <th>
                <%= attachment_image_tag applicant, :image, format: "jpeg", fallback: "no_image.jpeg", class: "item_image"  %>
              </th>
              <td>
                <%= link_to applicant.full_name, public_applicant_path(applicant) %><br>
                ００歳<br>
                ruby/ruby on rails<br>
                ポートフォリオ一覧
              </td>
           </tr>
          <% end %>
        </table>
      <% end %>
    </div>
  </main>
</body>