<body class="public-scene">
  <%= render partial: '/template/public_header' %>
  <%= render partial: '/template/public_nav' %>
  <main class="user-info">
    <div class="page">
      <%= link_to 'ユーザー詳細画面', public_applicant_path(@applicant) %>
      <%= link_to '学習記事へ', public_path(@applicant) %>
      <%= link_to 'ポートフォリオへ', public_specific_user_path(@applicant) %>
    </div>
    <div class="basic-info">
      <%= image_tag @applicant.image_id.url, class: "item_image" %>
      <table>
        <tr>
          <td>ふりがな</td>
          <th><%= @applicant.full_name_kana %></th>
        </tr>
        <tr>
          <td>氏名</td>
          <th><%= @applicant.full_name %></th>
        </tr>
        <tr>
          <td>生年月日</td>
          <th><%= l @applicant.birth_date %>（満<%= @applicant.age %>歳）</th>
        </tr>
        <tr>
          <td>性別</td>
          <th><%= @applicant.gender %> </th>
        </tr>
        <tr>
          <td>郵便番号</td>
          <th><%= @applicant.postal_code %></th>
        </tr>
        <tr>
          <td>ふりがな</td>
          <th><%= @applicant.prefecture_kana %></th>
        </tr>
        <tr>
          <td>住所</td>
          <th><%= @applicant.prefecture %><%= @applicant.manicipal %><br><%= @applicant.address_other %></th>
        </tr>
        <tr>
          <td>TEL</td>
          <th><%= @applicant.phone_number %></th>
        </tr>
        <tr>
          <td>email</td>
          <th><%= @applicant.email %></th>
        </tr>
      </table>
    </div>
    <div class="ability">
      <h4>学歴</h4>
      <table>
        <tr>
          <td>学校区分</td>
          <th><%= @applicant.school_division %></th>
        </tr>
        <tr>
          <td>学校名</td>
          <th><%= @applicant.school_name %></th>
        </tr>
        <tr>
          <td>学部</td>
          <th><%= @applicant.faculty %></th>
        </tr>
        <tr>
          <td>学科</td>
          <th><%= @applicant.academic_decipline %></th>
        </tr>
      </table>
    </div>
    <div class="pr">
      <h4>職務経歴</h4>
      <h6>職歴要約</h6>
      <div class="text-box">
        <%= simple_format(@applicant.overview_w_history) %>
      </div>
      <h6>職務経歴</h6>
      <table border="1" style="border-collapse: collapse">
        <tr>
          <th class="period">期間</th>
          <th>職務内容</th>
        </tr>
        <tr>
          <td><%= simple_format(@applicant.term_1) %></td>
          <td><%= simple_format(@applicant.work_history_1) %></td>
        </tr>
        <tr>
          <td><%= simple_format(@applicant.term_2) %></td>
          <td><%= simple_format(@applicant.work_history_2) %></td>
        </tr>
        <tr>
          <td><%= simple_format(@applicant.term_3) %></td>
          <td><%= simple_format(@applicant.work_history_3) %></td>
        </tr>
        <tr>
          <td><%= simple_format(@applicant.term_4) %></td>
          <td><%= simple_format(@applicant.work_history_4) %></td>
        </tr>
        <tr>
          <td><%= simple_format(@applicant.term_5) %></td>
          <td><%= simple_format(@applicant.work_history_5) %></td>
        </tr>
      </table>
    </div>
  </main>
</body>