<body class="public-scene">
  <%= render partial: '/template/public_header' %>
  <%= render partial: '/template/public_nav' %>
  <main class="user-top">
    <div class="job-offer">
      <h4>最近登録したユーザー</h4>
      <% @applicants.each do |a| %>
        <table>
          <tr>
            <td>
              <%= a.full_name %>
            </td>
            <td>
              満<%= a.calculation_age %>歳
            </td>
            <td style="text-align: right;">
              <%= link_to '詳しく見る', public_applicant_path(a), style: 'font-size: 12px;' %>
            </td>
          </tr>
        </table>
      <% end %>
    </div>
    <div class="schedule">
      <h4>メッセージ一覧</h4>
      <% @rooms.each do |r| %>
        <table>
          <tr>
            <td>
              <%= l r.created_at, format: :short %>
            </td>
            <td>
              <%= r.applicant.full_name %>
            </td>
            <td style="text-align: right;">
              <%= link_to 'メッセージを見る', room_path(r), style: 'font-size: 12px;' %>
            </td>
          </tr>
        </table>
      <% end %>
    </div>
    <div class="study-post">
      <h4>検索</h4>
        <%= form_with(scope: :search, url: public_search_path, method: :get, local: true) do |f| %>
          <div class="field">
            <%= f.label :gender, "性別" %>
            <%= f.collection_radio_buttons(:gender, Applicant.genders.drop(1), :second, :first) do |g| %>
              <div>
                <%= g.label do %>
                  <table>
                    <tr>
                      <td>
                        <%= g.radio_button %>
                      </td>
                      <td>
                        <%= g.text %>
                      </td>
                    </tr>
                  </table>
                <% end %>
              </div>
            <% end %>
          </div>
          <div>
            <%= f.label :birth_date, "年齢" %><br>
            <%= f.text_field :search_min_age, style: 'width: 30px; margin: 10px 0 20px 0;' %><span style="font-size: 14px;">歳</span>~
            <%= f.text_field :search_max_age, style: 'width: 30px;' %><span style="font-size: 14px;">歳</span>
          </div>
          <div>
            <%= f.label :school_division, "学歴" %><br>
            <%= f.select :school_division, Applicant.school_divisions.keys.to_a, include_blank: true, style: 'margin-left: 30px;' %>
          </div>
          <div>
            <%= f.label :work_location, "希望勤務地" %><br>
            <%= f.select :work_location, Applicant.work_locations.keys.to_a, include_blank: true, style: 'margin-left: 30px;' %>
          </div>
          <div>
            <%= f.label :axis, "企業選びの軸" %><br>
            <%= f.select :axis, Applicant.axes.keys.to_a, include_blank: true, style: 'margin-left: 30px;' %>
          </div>
          <div>
            <%= f.label :company_type, "企業タイプ" %><br>
            <%= f.select :company_type, Applicant.company_types.keys.to_a, include_blank: true, style: 'margin-left: 30px;' %>
          </div>
          <%= f.submit '検索', class: "button" %>
        <% end %>
    </div>
  </main>
</body>