<body class="public-scene">
  <%= render partial: '/template/header' %>
  <%= render partial: '/template/nav' %>
  <main class="post">
    <div class="learn-rec">
      <% @posts.each do |post| %>
        <ul>
          <li>
            <%= link_to user_post_path(post) do %>
              <%= attachment_image_tag current_applicant, :image, format: "jpeg", fallback: "no_image.jpeg", class: "item_image"  %>
              <div class="creat-ttl">
                <p><%= post.title %></p>
                <p><span><%= l post.created_at, format: :long %></span></p>
              </div>
            <% end %>
            <%= link_to "削除", user_post_path(post), method: :delete %>
          </li>
        </ul>
      <% end %>
    </div>
  </main>
</body>