<body class="public-scene">
  <%= render partial: '/template/header' %>
  <%= render partial: '/template/nav' %>
  <main class="post">
    <%= form_with model: @post, url: user_post_path(@post), method: :patch, local: true do |f| %>
    <div class="learn-rec", style="padding-bottom: 100px;">
      <%= render partial: '/template/post_head', locals: { post: @post } %>
      <div class="title">
        <h6><%= f.text_field :title %> </h6>
      </div>
      <div class="lang">
        <%= f.collection_select :pg_lang_id, PgLang.all, :id, :name %>
      </div>
      <div class="text">
        <%= f.text_area :content %>
      </div>
    </div>
      <%= f.submit '保存', class: 'submit', style: 'margin-left: 260px;' %>
    <% end %>
  </main>
</body>